{% extends "store/base.html" %}
{% load static %}

{% block title %}
 {{ postcard.title }}
{% endblock %}
{% block content %}
 <div class="product-detail">
 <img src="{% if postcard.image %}
                {{ postcard.image.url }}
            {% else %}
                {% static "img/no_image.png" %}
            {% endif %}">
 <h1>{{ postcard.title }}</h1>
 <h2>
 <a href="{{ postcard.category.get_absolute_url }}">
 {{ postcard.category }}
 </a>
 </h2>
 <p class="price">{{ postcard.price }} руб.</p>
 <form action="{% url 'basket:basket_add' postcard.id %}" method="post">
     {{ basket_postcard_form }}
     {% csrf_token %}
     <input type="submit" value="Добавить в корзину">
 </form>
 {{ postcard.content|linebreaks }}
 {% if recommended_postcards %}
    <div class="recommendations">
        <h3>Люди, которые купили эту открытку, также купили</h3>
        {% for p in recommended_postcards %}
            <div class="item">
                <a href="{{ p.get_absolute_url }}">
                    <img src="{% if p.image %}{{ p.image.url }}{% else %}
                    {% static "img/no_image.png" %}{% endif %}">
                </a>
                <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
            </div>
        {% endfor %}
    </div>
{% endif %}
 </div>
{% endblock %}
