{% extends "store/base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <h1>Оформление заказа</h1>
    <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in basket %}
                <li>
                    {{ item.quantity }}x {{ item.postcard.title }}
                    <span>{{ item.total_price }} руб.</span>
                </li>
            {% endfor %}
            {% if basket.coupon %}
                <li>
                    Использован купон "{{ basket.coupon.code }}" на скидку {{ basket.coupon.discount }}%
                    <span class="neg">- {{ basket.get_discount|floatformat:2 }} руб.</span>
                </li>
            {% endif %}
        </ul>
        <p>Итоговая стоимость: {{ basket.get_total_price_after_discount|floatformat:2 }} руб.</p>
    </div>
    <form method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Оформить заказ"></p>
        {% csrf_token %}
    </form>
{% endblock %}
